<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Extended.Wpf.Toolkit" version="3.5.0" targetFramework="net462" />
  <package id="Faker" version="1.2" targetFramework="net462" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.0.1" targetFramework="net462" />
  <package id="PresentationFramework.Aero2" version="1.0.1" targetFramework="net462" />
  <package id="wfToolkit" version="0.4.0" targetFramework="net462" />
</packages>